{% extends "layout.njk" %}

{% from "table.njk" import tableStart, tableEnd, row %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary %}
{% from "statementOfTruth.njk" import statementOfTruth %}
{% from "party/details.njk" import partyDetailsSummaryFragment %}

{% set title = t('Money claim') %}
{% set heading = t('Check your answers before submitting your claim') %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart('yourDetails', 'Your details (claimant)') }}
    {{
        partyDetailsSummaryFragment(
          partyDetails = draftClaim.claimant.partyDetails,
          changeLinks = {
            name: paths.claimantIndividualDetailsPage.uri,
            address: paths.claimantIndividualDetailsPage.uri,
            dateOfBirth: paths.claimantDateOfBirthPage.uri
          }
        )
    }}
    {{ row(label = 'Contact number (optional)', value = draftClaim.claimant.mobilePhone.number, changeLink = paths.claimantMobilePage.uri, bold = true) }}
    {{ tableEnd() }}

    {{ tableStart('theirDetails', 'Their details (defendant)') }}
      {{
          partyDetailsSummaryFragment(
            partyDetails = draftClaim.defendant.partyDetails,
            showCorrespondenceAddressSection = false,
              changeLinks = {
              name: paths.defendantIndividualDetailsPage.uri,
              address: paths.defendantIndividualDetailsPage.uri
           }
        )
    }}
    {{ row(label = 'Email (optional)', value = draftClaim.defendant.email.address, changeLink = paths.defendantEmailPage.uri, bold = true) }}
    {{ tableEnd() }}

    {{ tableStart('claimAmount', 'Claim amount') }}
    {{ row(label = 'Claim amount', value = claimAmountTotal.claimAmount | numeral, changeLink = paths.amountPage.uri, bold = true)}}

    {% if (interestClaimed === true) %}
      {% if (draftClaim.interest.rate) %}
        {{ row(label = 'Interest rate', value = draftClaim.interest.rate | numeral('0,0.00') + '\% \(' + draftClaim.interest.type + '\)' , changeLink = paths.interestPage.uri, bold = true) }}
      {% endif %}
      {% if payAtSubmission === false %}
        {{ row(label = 'Date interest is claimed from', value = draftClaim.interestDate.date.asString() | date, changeLink = paths.interestDatePage.uri, bold = true) }}
      {% else %}
      {{ row(label = 'Interest rate', value = draftClaim.interest.rate | numeral('0,0.00') + '\% \(' + draftClaim.interest.type + '\)' , changeLink = paths.interestPage.uri, bold = true) }}
        {{ row(label = 'Date interest is claimed from', value = 'Date you submit the claim', changeLink = paths.interestDatePage.uri, bold = true) }}
      {% endif %}
      {% if (claimAmountTotal.interestAmount) %}
        {{ row(label = 'Interest', value = claimAmountTotal.interestAmount | numeral, changeLink = paths.interestPage.uri, bold = true) }}
      {% endif %}
    {% else %}
      {{ row(label = 'Interest rate', value = 'I don’t want to claim interest', changeLink = paths.interestPage.uri, bold = true)}}
    {% endif %}

    {{ row(label = 'Claim fee', value = claimAmountTotal.feeAmount | numeral, bold = true) }}
    {{ row(label = 'Total amount you’re claiming', value = claimAmountTotal.totalAmountTillToday | numeral, bold = true) }}
    {{ tableEnd() }}

    {{ tableStart('claimDetails', 'Claim details') }}
    {{ row(label = 'Why you’re owed the money', value = draftClaim.reason.reason, changeLink = paths.reasonPage.uri, bold = true) }}

    {{ row(label = 'Timeline of what happened', value = '', changeLink = paths.timelinePage.uri, bottomBorder = false, bold = true) }}
    {% set allTimelineRows = draftClaim.timeline.getPopulatedRowsOnly() %}
    {% set lastItemIndex = allTimelineRows.length - 1 %}
    {% for timelineRow in allTimelineRows %}
      {{ row(timelineRow.date, timelineRow.description, '', loop.index0 === lastItemIndex) }}
    {% endfor %}

    {{ row(label = 'Your evidence (optional)', value = '', changeLink = paths.evidencePage.uri, bottomBorder = false, bold = true) }}
    {% set allEvidenceRows = draftClaim.evidence.getPopulatedRowsOnly() %}
    {% set lastItemIndex = allEvidenceRows.length - 1 %}
    {% for evidenceRow in allEvidenceRows %}
      {{ row(evidenceRow.type.displayValue, evidenceRow.description | default(''), '', loop.index0 === lastItemIndex) }}
    {% endfor %}

    {{ tableEnd() }}

    <div class="column-two-thirds">
      <div class="form-group">
        {{ statementOfTruth(
            form,
            statementOfTruthType = 'claim',
            label = 'I believe that the facts stated in this claim are true.',
            isQualified = partyAsCompanyOrOrganisation
          )
        }}

        {% set submitButtonLabel = t('Submit and continue to payment ') %}
        {{ submitButton(submitButtonLabel + '(' + (claimAmountTotal.feeAmount | numeral) + ')') }}
        <input type="hidden" name="type" value="{{ form.model.type }}">
      </div>
    </div>
  </form>
{% endblock %}
